<!--<div class="row" style="margin-top: 20px;">
    <div class="col-sm-1"></div>
    
        <div class="col-sm-10">
            <form [formGroup]="fg_chatgpt" (ngSubmit)="sentChatgpt()">
                <div class="input-group input-group-lg">
                
                        <input type="text" (keyup.enter)="sentChatgpt()" formControlName="input" class="form-control" aria-label="Sizing example input" placeholder="คุยกับ ai chat gpt" aria-describedby="inputGroup-sizing-lg">
                </div>
                <div class="input-group" style="margin-top: 20px;">
                    <span class="input-group-text">chat gpt :</span>
                    <textarea class="form-control" formControlName="message" aria-label="With textarea"></textarea>
                </div>
            </form>
        </div>
    <div class="col-sm-1"></div>
</div>
-->
